<p>name: <%= @teacher.name %></p>
<p>phone: <%= @teacher.phone %></p>
<p>email: <%= @teacher.email %></p>
<p>sex: <%= Teacher::SEX[@teacher.sex] %></p>
<p>birth: <%= @teacher.birth %></p>

<div class="mt-4">
  <%= link_to 'Edit', edit_admin_teacher_path(@teacher), class: 'btn btn-success' %>
  <%= link_to 'Back', admin_teachers_path, class: 'btn btn-success' %>
</div>
