
<div  id = "main_nav" class = "nav" style="background-image: url('images/nav_background.png')">

    <ul>
    <li class="nav_item"> <%= link_to  'Home','/index.html', :relative => true %> </li> 
    <li class="nav_item"> <%= link_to  'News','/news.html', :relative => true %> </li> 
    <li class="nav_item"> <%= link_to  'Research','/research.html', :relative => true %> </li> 
    <li class="nav_item"> <%= link_to  'Teaching','/teaching.html', :relative => true %> </li> 
    <li class="nav_item"> <%= link_to  'Misc','/misc.html', :relative => true %> </li> 
    </ul>


</div>