<p>section number: <%= @project.id %></p>
<p>name: <%= @project.name %></p>
<p>day: <%= @project.day %></p>
<p>start_on: <%= @project.start_on.strftime("%I:%m %p") %></p>
<p>finish_on: <%= @project.finish_on.strftime("%I:%m %p") %></p>
<p>Teacher: <%= @project.teacher_name %></p>

<div class="mt-4">
  <%= link_to 'Edit', edit_admin_project_path(@project), class: 'btn btn-success' %>
  <%= link_to 'Back', admin_projects_path, class: 'btn btn-success' %>
</div>
