---
title: "Homepage-Michael D.Bond"
name: "Michael D. Bond"
department: "Associate Professor Computer Science & Engineering"
university: "Ohio State University"
email: "mikebond@cse.ohio-state.edu"
address: "697 Dreese Labs"
duration: "On sabbatical Autumn 2018 – Spring 2019"
left_side_image: "assist.jpeg"
---

<%= stylesheet_link_tag 'index'%>

<div class="home">

    
    <div class="left_side_img"> 
        <%= image_tag current_page.data.left_side_image %>
    </div>

    <div class="content">
        <h2> <%= current_page.data.name %> </h2>
        <p> <%= current_page.data.department %>  </p>
        <p> <%= current_page.data.university%>  </p>
        <p> <%= current_page.data.email%>  </p>
        <p> <%= current_page.data.address%>  <p>
        <p> <%= current_page.data.duration%>  <p>

    </div>
</div>

