---
left_side_image: "assist.jpeg"
title:  "Michael D. Bond's Teaching, Activities, Awards, and Funding"
content_list:
    - text: "Teaching"
      items:
        - text: "Spring 2018: CSE 5349: Program Analysis and Runtime Systems for Reliable, Scalable Parallelism"
          link_text: "Program Analysis and Runtime Systems for Reliable, Scalable Parallelism"
          link: "https://piazza.com/osu/spring2018/cse5349/home"
        - text: "Autumn 2017: CSE 3341: Principles of Programming Languages (two sections)"
          link_text: "Principles of Programming Languages"
          link: "https://piazza.com/osu/autumn2017/cse3341/home"
        - text: "Autumn 2017: CSE 6349: Program Analyses and Systems for Reliable Parallelism"
          link_text: "Program Analyses and Systems for Reliable Parallelism"
          link: "https://piazza.com/osu/autumn2017/cse6349/home"
        - text: "Autumn 2016: CSE 3341: Principles of Programming Languages (two sections)"
          link_text: ""
          link: ""
        - text: "Autumn 2015: CSE 3341: Principles of Programming Languages"
          link_text: ""
          link: ""
        - text: "Autumn 2015: CSE 5349: Parallelism in Modern Programming Language Implementations"
          link_text: ""
          link: ""
        - text: "Spring 2015: CSE 3341: Principles of Programming Languages"
          link_text: ""
          link: ""
        - text: "Autumn 2014: CSE 6341: Foundations of Programming Languages"
          link_text: "Foundations of Programming Languages"
          link: "http://web.cse.ohio-state.edu/~mikebond/6341/"
        - text: "Spring 2014: CSE 5349: Dynamic Program Analysis and Runtime Systems for Reliable Concurrent Software"
          link_text: ""
          link: ""
        - text: "Autumn 2013: CSE 6341: Foundations of Programming Languages"
          link_text: ""
          link: ""
        - text: "Spring 2013: CSE 3341: Principles of Programming Languages"
          link_text: ""
          link: ""
        - text: "Autumn 2012: CSE 6341: Foundations of Programming Languages"
          link_text: ""
          link: ""
        - text: "Spring 2012: CSE 755: Programming Languages"
          link_text: ""
          link: ""
        - text: "Autumn 2011: CSE 788.07: Dynamic Program Analysis and Runtime Systems for Reliable Concurrent Software"
          link_text: ""
          link: ""
        - text: "Spring 2011: CSE 888.07: Algorithms and Implementation Strategies for Efficient Dynamic Analysis for Deployed Concurrent Software"
          link_text: ""
          link: ""
        - text: "Winter 2011: CSE 788.07: Dynamic Program Analysis for Reliable Concurrent Software"
          link_text: ""
          link: ""
        

    - text: "Activities"
      items:
        - text: "Program Committee, ISMM 2019"
          link_text: ""
          link: ""
        - text: "Program Committee, ASPLOS 2019"
          link_text: ""
          link: ""
        - text: "External Review Committee, PLDI 2018"
          link_text: ""
          link: ""
        - text: "External Review Committee, ASPLOS 2018"
          link_text: ""
          link: ""
        - text: "External Review Committee, PACT 2017"
          link_text: ""
          link: ""
        - text: "External Review Committee, ISMM 2017"
          link_text: ""
          link: ""
        - text: "External Review Committee, ASPLOS 2017"
          link_text: ""
          link: ""
        - text: "Artifact Evaluation Co-Chair, OOPSLA 2016 and OOPSLA 2017"
          link_text: ""
          link: ""
        - text: "External Program Committee, PLDI 2017"
          link_text: ""
          link: ""
        - text: "External Program Committee, OOPSLA 2016"
          link_text: ""
          link: ""
        - text: "Program Committee, PPoPP 2016"
          link_text: ""
          link: ""
        - text: "External Review Committee, ASPLOS 2016"
          link_text: ""
          link: ""
        - text: "Program Committee Chair, ISMM 2015"
          link_text: ""
          link: ""
        - text: "Steering Committee, ISMM, 2015–2018"
          link_text: ""
          link: ""
        - text: "External Review Committee, PLDI 2015"
          link_text: ""
          link: ""
        - text: "External Review Committee, PLDI 2014"
          link_text: ""
          link: ""
        - text: "External Review Committee, ISMM 2014"
          link_text: ""
          link: ""
        - text: "External Review Committee, PPoPP 2014"
          link_text: ""
          link: ""
        - text: "Program Committee, PLDI 2013"
          link_text: ""
          link: ""
        - text: "Selection Committee, Student Research Competition, PLDI 2013"
          link_text: ""
          link: ""
        - text: "Program Committee, ISMM 2013"
          link_text: ""
          link: ""
        - text: "External Review Committee, ASPLOS 2013"
          link_text: ""
          link: ""
        - text: "Program Committee, OOPSLA 2012"
          link_text: ""
          link: ""
        - text: "External Review Committee, ASPLOS 2012"
          link_text: ""
          link: ""
        - text: "Doctoral Symposium Committee, SPLASH 2012"
          link_text: ""
          link: ""
        - text: "Program Committee, TMC 2011"
          link_text: ""
          link: ""
        - text: "Program Committee, ISMM 2011"
          link_text: ""
          link: ""
        - text: "External Review Committee, PLDI 2011"
          link_text: ""
          link: ""
        - text: "Program Committee, VEE 2011"
          link_text: ""
          link: ""
        - text: "Program Committee, OOPSLA 2010"
          link_text: ""
          link: ""
        - text: "External Review Committee, PLDI 2010"
          link_text: ""
          link: ""
        - text: "Program Committee, IWMSE 2010"
          link_text: ""
          link: ""
        - text: "Review Committee, ISMM 2010"
          link_text: ""
          link: ""
        - text: "Jikes RVM Team, 2007–present"
          link_text: "Jikes RVM Team"
          link: "http://www.jikesrvm.org/ProjectOrganization/"


    - text: "Awards"
      items:
        - text: "Outstanding Teaching Award, Department of Computer Science and Engineering, Ohio State University (2018)"
          link_text: ""
          link: ""
        - text: "Lumley Research Award, College of Engineering, Ohio State University (2016)"
          link_text: ""
          link: ""
        - text: "OOPSLA 2015 Distinguished Paper Award (for Valor)"
          link_text: ""
          link: ""
        - text: "OOPSLA 2015 Distinguished Artifact Award (for the Valor artifact)"
          link_text: ""
          link: ""
        - text: "NSF CAREER Award"
          link_text: ""
          link: ""
        - text: "ACM SIGPLAN Outstanding Doctoral Dissertation Award (citation)"
          link_text: ""
          link: ""
        - text: "Intel PhD Fellowship"
          link_text: ""
          link: ""
        - text: "\"Most crazy idea\" at Wild and Crazy Ideas (WACI) session at ISMM 2008"
          link_text: "ISMM 2008"
          link: "https://www.cs.kent.ac.uk/~rej/ismm2008"
        - text: "Best student presenter at CGO 2004"
          link_text: "CGO 2004"
          link: "http://web.cse.ohio-state.edu/~mikebond/papers.html#tpp"
    - text: "Funding"
      items:
        - text: "NSF CSR-1218695 (ended 2016)"
          link_text: "CSR-1218695"
          link: "http://nsf.gov/awardsearch/showAward?AWD_ID=1218695"
        - text: "NSF CAREER-1253703"
          link_text: "CAREER-1253703"
          link: "http://nsf.gov/awardsearch/showAward?AWD_ID=1253703"
        - text: "NSF CCF-1421612"
          link_text: "CCF-1421612"
          link: "http://nsf.gov/awardsearch/showAward?AWD_ID=1421612"
        - text: "NSF XPS-1629126"
          link_text: "XPS-1629126"
          link: "http://nsf.gov/awardsearch/showAward?AWD_ID=1629126"
        
        
        
     

    

---

<div class="misc">

  <div class="left_side_img"> 
        <%= image_tag current_page.data.left_side_image %>
    </div>


  <div class="content">

    <% current_page.data.content_list.each do |f| %>
      <h3> <%= f.text %> </h3>
        <ul>
          <% f.items.each do |item| %>
            <li>
                <% if item.link_text != "" %>
                  <%= item.text.split(item.link_text)[0]%>
                  <%= link_to item.link_text,item.link %>
                  <%= item.text.split(item.link_text)[1]%>
                <% else %>
                    <%= item.text %>
                <% end %>
            </li>
          <% end %>
         </ul>

    <% end %>

  <div>

</div>