---
left_side_image: "assist.jpeg"
reseach_list:
  - text: "My research group develops program analyses and software systems that make complex, concurrent software significantly more reliable, scalable, and secure than it is today."
    link_text: "research group"
    link: "http://web.cse.ohio-state.edu/~mikebond/plass/"
  - text: "General interests: programming languages, software and hardware systems, program analysis, compilers, security"
    link_text: ""
    link: ""
pubs_link: 
      text: "Publications"
      link: "pubs.html"

papers_link: 
      text: "Publicly available research software"
      link: "papers.html"
      description: "(see \"Source code\" for each paper)" 


cur_advisees:
    text: "Current advisees:"
    items:
      - "Kaan Genç  (PhD student)"
      - "Jake Roemer  (PhD candidate)"
      - "Rui Zhang  (PhD student)"


grad_advisees:
      text: "Graduated advisees, with positions as of 2019:"
      items:
        - link_text: "Man Cao"
          link: "http://www.cse.ohio-state.edu/~caoma/"
          description: "(PhD, 2017) — Google"
        - link_text: "Aritra Sengupta"
          link: "http://www.cse.ohio-state.edu/~sengupta/"
          description: "(PhD, 2017) — Samsung Research America"
        - link_text: "Swarnendu Biswas "
          link: "http://users.ices.utexas.edu/~sbiswas/"
          description: "(PhD, 2016) — assistant professor at IIT Kanpur"
        - link_text: "Minjia Zhang "
          link: "http://zhangminjia.me/"
          description: "(PhD, 2016) — Microsoft Research"
        - link_text: "Jipeng Huang"
          link: "http://huangjip.github.io/"
          description: "(MS, 2014) — Apple"
---



<div class = "div_research">

   <div class="left_side_img"> 
        <%= image_tag current_page.data.left_side_image %>
    </div>

    <div class="content">

      <% current_page.data.reseach_list.each do |f| %>
      <!-- research description -->
        <p>
          <% if f.link_text != ""%>
              <%= f.text.split(f.link_text)[0]%>
              <%= link_to f.link_text,f.link %>
              <%= f.text.split(f.link_text)[1]%>
          <% else %>
              <%= f.text %>
          <% end %>
        </p>
      <% end %>


      <h3>  <%= link_to current_page.data.pubs_link.text,current_page.data.pubs_link.link %>  </h3>

      <p>  <%= link_to current_page.data.papers_link.text,current_page.data.papers_link.link %>  <% current_page.data.papers_link.description %>  </p>


      <h3> <%= current_page.data.cur_advisees.text %> </h3>

      <ul>
        <% current_page.data.cur_advisees.items.each do |f| %>
          <!-- research description -->
            <li>
              <%= f %>
            </li>
        <% end %>
      </ul>




      <h3> <%= current_page.data.grad_advisees.text%> </h3>
      <ul>
      <% current_page.data.grad_advisees.items.each do |f| %>
          <!-- research description -->
            <li>
              <%= link_to f.link_text,f.link %>
              <%= f.description%>
          </li>

        <% end %>

      </ul>

    </div>
</div>










