---
    
    left_side_image: "assist.jpeg"
    teaching:
        - time_text: "Autumn 2019:"
          items:
            - text: "CSE 5349 on persistent/non-volatile memory"
              link: "http://web.cse.ohio-state.edu/~mikebond/5349/"
        - time_text: "Autumn 2018 – Spring 2019"
          items:
            - text: "no teaching (on sabbatical)"
              link: ""
           

    past_teaching:
        link_text: "Past teaching"
        link: "misc.html#teaching"

---

<div class = "div_teaching">


   <div class="left_side_img"> 
        <%= image_tag current_page.data.left_side_image %>
    </div>


  

  
  <div class="content">

    <% current_page.data.teaching.each do |f| %>
    <!-- research description -->

      <p> <%= f.time_text %> </p>
      <% f.items.each do |item| %>

          <p>
              <% if item.link != "" %>
                  <%= link_to item.text,item.link%>
              <% else %>
                  <%= item.text %>
              <% end %>
          </p>
          

      <% end %>

    <% end %>


    <%= link_to current_page.data.past_teaching.link_text, current_page.data.past_teaching.link, :relative => true%>
  
  </div>


</div>


