<%= simple_form_for [:admin, @grader] do |f| %>
  <%= f.error_notification %>

  <p>student: <%= @grader.student.name %></p>
  <p>project: <%= @grader.project.name %></p>
  <p>teacher: <%= @grader.teacher.name %></p>

  <%= f.input :is_published, as: :boolean, checked_value: true, unchecked_value: false %>

  <%= f.button :submit %>
<% end %>
