<h1>Admin Graders</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">student</th>
      <th scope="col">project</th>
      <th scope="col">teacher</th>
      <th scope="col">is_published</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    <% @graders.each_with_index do |grader, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= grader.student.name %></td>
        <td><%= grader.project.name %></td>
        <td><%= grader.teacher.name %></td>
        <td><%= grader.is_published %></td>
        <td>
          <%= link_to 'Show', admin_grader_path(grader), class: 'btn btn-outline-secondary btn-sm' %>
          <%= link_to 'Edit', edit_admin_grader_path(grader), class: 'btn btn-outline-secondary btn-sm' %>
          <%= link_to 'Destroy', admin_grader_path(grader), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-secondary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
