<h1>Admin Users</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">eamil</th>
      <th scope="col">is_teacher</th>
      <th scope="col">is_admin</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= user.email %></td>
        <td><%= user.is_teacher %></td>
        <td><%= user.is_admin %></td>
        <td>
          <%= link_to 'Show', admin_user_path(user), class: 'btn btn-outline-secondary btn-sm' %>
          <%= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-outline-secondary btn-sm' %>
          <%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-secondary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Admin User', new_admin_user_path, class: 'btn btn-success mt-4' %>
<%= link_to 'back', admin_root_path, class: 'btn btn-primary mt-4' %>